<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration form</h1>
    <form action="/register" method="post">
        <p><input type="text" name="name" placeholder="name" ></p>
        <p><input type="text" name="email" placeholder="email" ></p>
        <p><input type="password" name = "password" placeholder="password"></p>
        <p><button> Submit </button></p>
</body>
<p>
    Already a member? <a href="/login">Login </a>here!
</p>
</html>